<div style="position:relative; padding: 15px 0; margin-bottom:25px; background:#6f5499; background:-moz-linear-gradient(left,  #6f5499 0%, #997ec2 100%); background:-webkit-linear-gradient(left,  #6f5499 0%,#997ec2 100%); background:linear-gradient(to right,  #6f5499 0%,#997ec2 100%); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#6f5499', endColorstr='#997ec2',GradientType=1 );">
    <a class="header-link" href="/">
        <h3><small>Tiny</small>App</h3>
    </a>
    <% if (username) { %>
        <div style="position:absolute; top:17px; right:20px;">
            <p style="display:inline-block; color:#fff; margin-right:10px;">Welcome back, <%= username %></p>
            <form method="POST" class="form-inline" action="/logout" style="display:inline-block;">
                <button type="submit" class="btn btn-warning">Logout</button>
            </form>
        </div>
    <% } else { %>
        <div style="position:absolute; top:0; right:20px;">
            <form method="POST" class="form-inline" action="/login">
                <div class="form-group mb-2">
                    <input class="form-control" type="text" name="username" placeholder="Username" style="width: 200px; margin: 1em">
                    <button type="submit" class="btn btn-warning">Login</button>
                </div>
            </form>
        </div>
    <% } %>
</div>