<div style="position:relative; padding: 15px 0; margin-bottom:25px; background:#3c37ff; background:-moz-linear-gradient(-45deg,  #3c37ff 0%, #259eff 100%); background:-webkit-linear-gradient(-45deg,  #3c37ff 0%,#259eff 100%); background:linear-gradient(135deg,  #3c37ff 0%,#259eff 100%); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c37ff', endColorstr='#259eff',GradientType=1 );">
    <a class="header-link" href="/">
        <h3><small>Tiny</small>App</h3>
    </a>
    <% if (userID) { %>
        <div style="position:absolute; top:17px; right:20px;">
            <p style="display:inline-block; color:#fff; margin-right:10px;">Welcome back, <%= userID.email %></p>
            <form method="POST" class="form-inline" action="/logout" style="display:inline-block;">
                <button type="submit" class="btn btn-warning">Logout</button>
            </form>
        </div>
    <% } else { %>
        <div style="position:absolute; top:0; right:20px; padding:17px 0;">
            <a href="/login" class="btn btn-warning">Login</a>
            <a href="/register" class="btn btn-warning">Register</a>
        </div>
    <% } %>
</div>