<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
  <style>
    .btn-link {
      color: #767676;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 12px;
    }
    .btn-link:hover {
      color: #563d7c;
      text-decoration: none;
    }
    .header-link {
      color: #cdbfe3;
      transition: color 0.5s;
      display: inline-block;
      margin-left: 20px;
    }
    .header-link:hover {
      color: #fff;
      text-decoration: none;
    }
    .btn-warning {
      color: #6f5499;
      background-color: #cdbfe3;
      border-color: #ac9ac8;
    }
    .btn-warning:hover {
      color: #cdbfe3;
      background-color: #6f5499;
      border-color: #cdbfe3;
    }
    .create-new-link {
      color: #767676;
      font-size: 13px;
      font-weight: 500;
      display: inline-block;
      margin-bottom: 20px;
    }
    .create-new-link:hover {
      color: #563d7c;
      text-decoration: none;
    }
  </style>
</head> <!-- End Head -->
<body>

  <header>
    <% include partials/_header %>
  </header> <!-- End Header Include -->

  <div style="max-width:650px; margin:0 auto;">
    
    <a class="create-new-link" href="/urls/new">Create new TinyURL</a>
  
    <h2>My URL's</h2>

    <div class="row no-gutters">
      <div class="col-md-12" style="background-color: #fff; border: solid 1px #ddd; border-radius: 4px; padding:9px 14px 5px">
        <div class="row">
          <% for(let shortURL in urls) { %>
            <div class="col-md-9" style="padding:6px 15px; flex:0 0 calc(100% - 166px); max-width:100%;">
              <p style="margin-bottom:0;"><%= shortURL %>&nbsp;&nbsp;&nbsp;&nbsp;=>&nbsp;&nbsp;&nbsp;&nbsp;<%= urls[shortURL] %></p>
            </div>
            <div class="col-md-3" style="flex:0 0 166px; max-width:100%; padding-bottom:4px;">
              <a href="/urls/<%= shortURL %>" class="btn btn-link">Edit</a>
              <form style="display:inline-block;" method="POST" action="/urls/<%= shortURL %>/delete">
                <button class="btn btn-danger" type="submit">Delete</button>
              </form>
            </div>
            <br />
          <% } %>
        </div>
      </div>
    </div>
  </div>

</body> <!-- End Body -->
</html>

<!-- style="background-color: #fff; border: solid 1px #ddd; border-radius: 4px;" -->